<style>

.f-c-4-t{
    text-align:center;
  color:{{section.settings.f-c-5-t}};
          }.c-l-6-t-l-2, .c-l-6-t-r-2, .c-l-6-b-l-2, .c-l-6-b-r-2 h2, * h2 {
    width: 100%;
}
  .f-c-4-img1{
            height: 378px;
            }
  .f-c-l-4-t h3{
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
  }
  
  .f-c-l-4-t span,p{
    display:inline;
  }
  .f-c-l-4-t span,p,h3{
      margin: 15px 0px 0px 0px;
  }  
   
  .f-c-l-4-t p{
  text-decoration: line-through;
    color: #ff2f00e3;
  }
      @media only screen and (max-width: 768px) {
           /* Responsive layout for mobile devices */
              .f-c-4-img1 {
                       height:199px;
                     }
        .row-f-c-3 {
    --bs-gutter-x: 1rem;
}
          .f-c-l-4-t span,p,h3{
      margin: 10px 0px 0px 0px;
  }  
                .f-c-l-4-t h3{
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
                }
                .f-c-l-4-t span,p,h3{
      margin: 15px 0px 0px 0px;
  }  
         }

         /* Tablet */
         @media only screen and (min-width: 768px) and (max-width: 992px) {
           /* Responsive layout for tablet devices */
           .f-c-4-img1 {
             height: 281px;
           }
         }
</style>

<div class="container mt-4 mb-4">
  <h2 class="f-c-4-t my-4">{{ section.settings.f-c-4-t }}</h2>
<div class="row d-flex justify-content-between row-f-c-3">
        

      {% assign collection = collections[section.settings.collection5] %}
        
        
        {% for product in collection.products limit: section.settings.product_limit5%} 
        
        
          <div class="col-md-4 col-lg-3 col-6 mb-md-3 mb-2">
            
            <div class=" ">
            <div class="f-c-4-img1">
                       <img src="{{ product.featured_image | img_url: 'master' }}" class="w-100 h-100" alt="" srcset="">
            </div>
              <div class="f-c-l-4-t">

                <a href={{ product.url }}>
                <h3 style="margin: 0px;">{{ product.title }}</h3>
                </a>
                
                <span class="pe-3">{{ product.price | money}}</span>

                <p>{{product.compare_at_price | money }}</p>
                
              </div>
              
            </div>
            
          </div>
        
        {% endfor %}
        
      </div>
      </div>
      
{% schema %}
  {
    "name": "Featured collection 5",
    "settings": [{
               "type":"text",
               "id":"f-c-4-t",
               "label":"add text",
               "default":"Add Title Here"
            }, {
        "type":"color",
        "id":"f-c-5-t",
        "label":"Collection Title-1 color",
        "default":"#000000"
      },
      {
      "type": "collection",
      "id": "collection5",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_limit5",
      "label": "Product Limit",
      "default": 4,
      "min": 1,
      "max": 12,
      "step": 1
    }
  ],
  "presets":[
    {
      "name": "Fetured-Collection-5",
       "category": "Product",
      "settings": {
        "collection5": "all",
        "product_limit5": 4
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}