{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_text",
      "label": "Banner Text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image Height",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ]
    },

      {
      "type": "select",
      "id": "imglayout",
      "label": "Image Layout",
      "options": [
        { "value": "fill", "label": "Fill" },
        { "value": "cover", "label": "Cover" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner",
      "category": "Banners"
    }
  ]
}
{% endschema %}

{% assign image_height = section.settings.image_height %}

{% assign desktopimage= section.settings.banner_image | img_url: 'master'  %}

<div class="image-banner ">
  <img class="mainimg" src="{{desktopimage }}" alt="Banner Image" style="width: 100%; height: 100%;">
  <img class="mainimg" src="{{desktopimage }}" alt="Banner Image" style="width: 100%; height: 100%;">
  
  <div class="banner-text" style="text-align: {{ section.settings.text_alignment }};">
    <h2>{{ section.settings.banner_text }}</h2>
  </div>
</div>






<style>
    .mainimg{
   object-fit:{{section.settings.imglayout}};
    

  }

  .image-banner{
  height: {% case image_height %}{% when 'small' %}200px{% when 'medium' %}400px{% when 'large' %}600px{% endcase %}
    
    
  }

    @media screen and (max-width:767px) {
.banner-text {
 display: flex;
  flex-direction: column;
  background:green;
  position: relative;
  z-index: 1;
}


 .mainimg{
   
   object-fit:fill;
  
  }

       .image-banner{
  height: {% case image_height %}{% when 'small' %}200px{% when 'medium' %}300px{% when 'large' %}500px{% endcase %}
    
    
  }



      

      
  }
  
</style>

{% stylesheet %}

.image-banner {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
}
  .image-banner img {
position: absolute;
top: 0;
left: 0;
}

.banner-text {
 display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  z-index: 1;
},



{% endstylesheet %}


