
{% case section.settings.column %}
    {% when 1 %}
        {%- assign column = '1' -%}
    {% when 2 %}
        {%- assign column = '2' -%}
    {% when 3 %}
        {%- assign column = '3' -%}
    {% when 4 %}
        {%- assign column = '4' -%}
    {% when 5 %}
        {%- assign column = '5' -%}
    {% when 6 %}
        {%- assign column = '6' -%}
    {% when 7 %}
        {%- assign column = '7' -%}
    {% when 8 %}
        {%- assign column = '8' -%}
    {% when 9 %}
        {%- assign column = '9' -%}
    {% when 10 %}
        {%- assign column = '10' -%}
    {% endcase %}

{%- assign arrows = arrows | default: section.settings.carousel-arrows -%}
{%- assign dots = dots | default: section.settings.carousel-dots -%}

<div class="halo-section {{ padding_top }} {{ padding_bottom }} {{ background_color }} {{ border-top }} {{ border-bottom }}" data-section-id="{{ section.id }}" data-section-type="logolist">
    <div class="container {% if section.settings.layout == 'layout special' %}logo-special-layout{% endif %}">
        {% if section.settings.title != blank %}
            <div class="section-header {% if section.settings.layout == 'layout special' %}text-left{% else %}text-center{% endif %}">
                <h2>{% render 'multilang' with section.settings.title %}</h2>
                {% if section.settings.text_link != blank %}
                    <a class="text-link" href="{{ section.settings.custom_link }}">
                        {% render 'multilang' with section.settings.text_link %}
                    </a>
                {% endif %}
                {% if section.settings.description != blank %}
                    <p>{% render 'multilang' with section.settings.description %}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if section.blocks.size > 0 %}
            <div class="logoList column-{{ column }}" data-slick='{
                    "dots": {{ dots }},
                    "arrows": {{ arrows }},
                    "infinite": false,
                    "adaptiveHeight": true,
                    "slidesToShow": {{ column }},
                    "slidesToScroll": 1,
                    "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg id=&apos;arrow-left&apos; x=&apos;0px&apos; y=&apos;0px&apos; viewBox=&apos;0 0 370.814 370.814&apos; xml:space=&apos;preserve&apos;><g><g><polygon points=&apos;292.92,24.848 268.781,0 77.895,185.401 268.781,370.814 292.92,345.961 127.638,185.401&apos;/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>", 
                    "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg id=&apos;arrow-right&apos; x=&apos;0px&apos; y=&apos;0px&apos; viewBox=&apos;0 0 478.448 478.448&apos; xml:space=&apos;preserve&apos;><g><g><polygon points=&apos;131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232&apos;/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></div>"
                }'>
                {% for block in section.blocks %}
                    <div class="logo-item" {{ block.shopify_attributes }}>
                        {% if block.settings.link != blank %}
                            <a href="{{ block.settings.link }}" class="logo-link">
                        {% endif %}
                            <span class="logo-image border-image">
                                {% if block.settings.image != blank %}
                                    <img class="lazyload" src="{{ 'loading.svg' | asset_url }}" data-src="{{ block.settings.image | img_url: '160x'  }}" alt="" data-image>
                                {% else %}
                                    <span class="recommended_size">160x60</span>
                                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </span>
                        {% if block.settings.link != blank %}
                            </a>
                        {% endif %}
                        {% if block.settings.title != blank %}
                            {% if block.settings.link != blank %}
                                <a href="{{ block.settings.link }}" class="title">
                            {% else %}
                                <h3 class="title">
                            {% endif %}
                                {% render 'multilang' with block.settings.title %}
                            {% if block.settings.link != blank %}
                                </a>
                            {% else %}
                                </h3>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Brand Carousel",
    "max_blocks": 20,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Gray",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "layout default",
            "options": [
                {
                    "value": "layout default",
                    "label": "Layout Default"
                },
                {
                    "value": "layout special",
                    "label": "Layout Special"
                }
            ]
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Brands Carousel"
        },
        {
            "type": "text",
            "id": "text_link",
            "label": "Text Link"
        },
        {
            "type": "url",
            "id": "custom_link",
            "label": "Link (Optional)"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "show arrows (Layout carousel)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "show dots (Layout carousel)",
            "default": false
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "default": 5,
            "min": 1,
            "max": 10,
            "step": 1
        }
    ],
    "blocks": [
        {
            "type": "logo_image",
            "name": "Another Brand",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "Recommended Image: (160 x 60)px"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link (Optional)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Brand Carousel",
            "category": "Brands",
            "blocks": [
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                },
                {
                    "type": "logo_image"
                }
            ]
        }
    ]
}
{% endschema %}
